@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
ul.pro-icons,
ul.social-icons {
    padding:0;
    list-style: none;
    margin:0;
}
.pro-icons li,
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.pro-icons a > i,
.social-icons a > i {
    font-size: 24px;
    color: #777;
    text-decoration: none;
    padding: 4px;
    width: 20px;
    text-align: center;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.pro-icons a > i.fa-envelope,
.pro-icons a > i.fa-file-text {
  font-size: 20px;
  padding: 5px;
}

ul a > i.fa:hover {
  padding: 4px 8px;
}
.fa-envelope:hover {
    color: #c04743;
}
.fa-linkedin:hover {
    color: #0073a4;
}
.fa-github:hover {
    color: #000;
}
.fa-file-text:hover {
    color: #52a651;
}
.fa-facebook:hover {
    color: #4676dc;
}
.fa-instagram:hover {
    color: #eb8231;
}
.fa-twitter:hover {
    color: #52a0fd;
}
.fa-snapchat-ghost:hover {
    color: #FFEC00;
}
