@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/* general rules */
* {
	font-family:'Lato','Ubuntu', sans-serif;
	font-weight:300;
  font-size: 20px; }
body {
	margin: 0;
  height: 100vh; 
  width: 100vw;
  position: fixed;
  -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

/* background images */
.bg_wrapper {
  overflow: hidden;
}
#bg, #tiny_bg {
  position: absolute;
  height: 100vh; 
  width: 100vw;
  overflow: hidden;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#bg {
  background-image: url('/assets/bg.jpg');
  z-index: -5;
}
#tiny_bg {
  background-image: url('/assets/tiny_bg.jpg');

  filter: blur(3vw);
  transform: scale(1.15);
  overflow: hidden;
  z-index: -1;
  opacity: 1;

  will-change: transform, opacity;
}
#tiny_bg.faded {
  transform: scale(1);
  animation: loaded .5s cubic-bezier(0.48, 0.29, 0.76, 0.68);
  opacity: 0;
}

/* main text */
.main {
  width: 80%;
  padding: 10%;
  max-width: 50em;
  margin: auto;
  animation: fadein 1s cubic-bezier(0.12, 0.98, 0.38, 1);
}
.main > div {
  margin: 0 0 .5em .5em;
}

/* social icon links */
ul.social-icons {
    padding:0;
    list-style: none;
    margin:0;
}
ul.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
ul.social-icons a > i {
    font-size: 24px;
    color: #777;
    text-decoration: none;
    padding: 4px;
    width: 20px;
    text-align: center;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.social-icons a > i.fa:hover {
  padding: 4px 8px;
}

/* brand-specific coloring for icon links */
.fa-facebook:hover {
    color: #4676dc;
}
.fa-instagram:hover {
    color: #eb8231;
}
.fa-twitter:hover {
    color: #52a0fd;
}
.fa-snapchat-ghost:hover {
    color: #FFEC00;
}
.fa-linkedin:hover {
    color: #0073a4;
}
.fa-github:hover{
    color: #000;
}

/* when the screen is more horizontal than vertical, 
   change to a centered background */
@media (max-aspect-ratio: 13/12){
  #bg, #tiny_bg {
    background-position: bottom;
    background-size: contain;
  }
  #bg {
    background-image: url('/assets/centered_bg.jpg');
  }
  #tiny_bg {
    background-image: url('/assets/tiny_centered_bg.jpg');
  }
  #tiny_bg.faded {
    transform: scale(1);
  }
}

/* idea for fade in taken from https://malone.io */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-5em);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* used for progressive background image loading */
@keyframes loaded {
  from {
    opacity: 1;
    transform: scale(1.15);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
