* {
	font-family:'Ubuntu', sans-serif;
}
body {
	margin:0;
	height:100%;
	overflow:hidden;
}
div.wrapper {
	max-width:1200px;
	margin:auto;
	position:relative;
	height:inherit;
}
div#header,
div#footer {
	position:fixed;
	background-color:#313131;
	color:white;
	height:50px;
	max-width:inherit;
	width:100%;
}
div#header {
	top:0px;
}
.drewmcarthur { 
	padding: 15px; 
	font-size:18px;
	height:20px;
	width:auto;
	float:left;
	color:white;
	cursor:default;
}
div.drewmcarthur:hover {
	background-color:black;
}
div#main {
	height:76.4%;
	padding:75px 10px;
	overflow:scroll;
}
div#footer {
	position:fixed;
	bottom:0px;
}
img.footer-link {
	height:36px;
	padding:7px;
	float:right;
	cursor:default;
}
img.footer-link:hover {
	background-color:black;
}
.mini {
	height:40px!important;
}
